@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Savate:ital,wght@0,200..900;1,200..900&display=swap');
@import "tailwindcss";
*{
    font-family: "Outfit", sans-serif;
}

/* Custom scrollbar style for dashboard */
.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #6b21a8; /* purple tone */
  border-radius: 10px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background: #1e1e2e;
}
